.header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
  .routes {
    display: flex;
    font-size: 18px;
    li {
      margin-right: 15px;
      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }

      &:last-child {
        margin: 0;
      }
    }
  }
}
